/* || Estilo geral */

@font-face {
    font-family: 'Command';
    src: url(./fonts/retro.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Command';
    src: url(./fonts/retro.ttf);
    font-weight: bold;
}

:root {
    --black: #0c0c0c;
    --bright-white: #f2f2f2;
    --white: #cccccc;
    --cyan: #3a96dd;
    --bright-red: #e3414f;
    --red: #c50f1f;
    --bright-yellow: #f9f1a5;
    --yellow: #c19c00;
    --bright-green: #16c20c;
    --green: #13a10e;
    --purple: #881798;
    --blue: #0037da;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Command';
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    align-items: stretch;

    background: var(--black);
    color: var(--white);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bright-white);
    margin: 0;
    flex: 1;
    font-family: 'Public Pixel', sans-serif;
    padding: 10px;

    border-bottom: var(--white) solid 4px;
    z-index: 99;
}

header h1 {
    color: var(--bright-text);
    font-family: 'Command';
    text-shadow: 0 0 14px var(--cyan);
    font-size: 2.5rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    flex: 14;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 7;
    padding: 15px;
}

h2 {
    font-family: 'Command';
    font-size: 2.5rem;
    color: var(--white);
}

h3 {
    font-family: 'Command';
    font-size: 1.7rem;
    color: var(--white);
}

#content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow-y: auto;
    max-height: 50vh;
}

.content-container {
    padding: 10px;
    border: var(--white) solid 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#content section .text {
    font-family: 'Command';
    font-size: 1.3rem;
    color: var(--white);
}

#content section button {
    padding: 10px;
    font-size: 2rem;
    background: none;
    color: var(--white);
    border: var(--white) solid 4px;
    font-family: 'Command';
    cursor: pointer;
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#content section button:hover {
    text-shadow: 0 0 15px var(--cyan);
    color: var(--bright-white);
    border: var(--bright-white) solid 4px;
    box-shadow: 0 0 15px var(--cyan);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    gap: 20px;
    padding: 15px;
    max-width: 18%;
}

aside div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: var(--white) solid 4px;
    padding: 10px;
    text-align: center;
}

aside section .qotd {
    text-align: center;
    text-wrap: wrap;
}

aside a {
    color: var(--white);
    transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration: underline;
}

aside a:hover {
    text-shadow: 0 0 15px var(--cyan);
    color: var(--bright-white);
}

.auth-buttons {
    display: flex;
    gap: 30px;
    padding: 1rem;
}

.auth-buttons button {
    padding: 10px;
    font-size: 2rem;
    background: none;
    color: var(--white);
    border: var(--white) solid 4px;
    font-family: 'Command';
    cursor: pointer;
    transition: border 0.2s ease-in-out, color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.auth-buttons button:hover {
    text-shadow: 0 0 15px var(--cyan);
    color: var(--bright-white);
    border: var(--bright-white) solid 4px;
    box-shadow: 0 0 15px var(--cyan);
}

.task-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.task {
    border: var(--white) solid 4px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

.task h3 {
    font-size: 1.3rem;
    color: var(--white);
}

p.task-status {
    margin-bottom: 10px;
}

.task[status="0"] p.task-status {
    font-size: 1rem;
    color: var(--bright-red);
}

.task[status="1"] p.task-status {
    font-size: 1rem;
    color: var(--bright-yellow);
}

.task[status="2"] p.task-status {
    font-size: 1rem;
    color: var(--bright-green);
}

.task[priority="4"] span.task-priority {
    font-size: 1rem;
    color: var(--green);
}

.task[priority="3"] span.task-priority {
    font-size: 1rem;
    color: var(--yellow);
}

.task[priority="2"] span.task-priority {
    font-size: 1rem;
    color: var(--red);
}

.task[priority="1"] span.task-priority {
    font-size: 1rem;
    color: var(--purple);
}

.task:hover {
    border: var(--bright-white) solid 4px;
    box-shadow: 0 0 10px var(--cyan);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: var(--white) solid 4px;
    color: var(--white);
    padding: 5px;
    flex: 1;
    z-index: 99;
}

footer p {
    font-family: 'Command';
    font-size: 1rem;
    text-align: center;
}

footer a {
    color: var(--white);
    transition: text-shadow 0.2s ease-out, color 0.2s ease-out;
    font-family: 'Command';
}

footer a:hover {
    color: var(--bright-white);
    text-shadow: 0 0 14px var(--cyan);
}

@media (max-width: 1068px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        flex-basis: 50px;
        flex: 2;
    }

    header h1 {
        text-align: center;
        font-size: 2rem;
        margin: 0;
    }

    header nav {
        margin: 0;
    }
}

@media (max-width: 612px) {
    header h1 {
        font-size: 1.5rem;
    }

    header nav a {
        font-size: 1rem;
    }

    .auth-buttons button {
        padding: 5px;
        font-size: 1.5rem;
        background: none;
        color: var(--white);
        border: var(--white) solid 4px;
        font-family: 'Command';
        transition: border 0.2s ease-in-out, color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    footer p {
        font-size: 0.7rem;
    }
}

*[hidden] {
    display: none;
}