.task-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.task {
    border: var(--white) solid 4px;
    padding: 10px;
    cursor: move;
    user-select: none;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

.task:hover {
    border: var(--bright-white) solid 4px;
    box-shadow: 0 0 10px var(--cyan);
}

.task[drag-active=true] {
    opacity: 0.3;
}

p.task-status {
    margin-bottom: 10px;
}

.task[status="0"] p.task-status {
    font-size: 1rem;
    color: var(--bright-red);
}

.task[status="1"] p.task-status {
    font-size: 1rem;
    color: var(--bright-yellow);
}

.task[status="2"] p.task-status {
    font-size: 1rem;
    color: var(--bright-green);
}

p.task-title {
    font-size: 1.3rem;
    color: var(--white);
}

p.task-description {
    font-size: 1rem;
    color: var(--white);
}

p.task-priority {
    margin-top: 10px;
}

.task[priority="0"] p.task-priority {
    font-size: 1rem;
    color: var(--green);
}

.task[priority="1"] p.task-priority {
    font-size: 1rem;
    color: var(--yellow);
}

.task[priority="2"] p.task-priority {
    font-size: 1rem;
    color: var(--red);
}

.task-kanban {
    display: flex;
    gap: 20px;
    height: 100%;
    padding: 10px;
}

.board {
    padding: 10px;
    border: var(--white) solid 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 0px;
    flex-basis: 100%;
    gap: 20px;
}

.board[drop-active=true]{
    border: var(--bright-white) solid 4px;
    box-shadow: 0 0 10px var(--cyan);
}

.board-status {
    margin-bottom: 10px;
    text-align: center;
}

.task-kanban section[status="0"] .board-status {
    color: var(--bright-red);
}

.task-kanban section[status="1"] .board-status {
    color: var(--bright-yellow);
}

.task-kanban section[status="2"] .board-status {
    color: var(--bright-green);
}

.task-kanban section[status="0"] p.task-status {
    font-size: 1rem;
    color: var(--bright-red);
}

.task-kanban section[status="1"] p.task-status {
    font-size: 1rem;
    color: var(--bright-yellow);
}

.task-kanban section[status="2"] p.task-status {
    font-size: 1rem;
    color: var(--bright-green);
}

.edit-content:has(p:only-child > br)::before {
    content: "Use atalhos de Marcação para formatar sua página enquanto digita, como * para listas, # para cabeçalhos e --- para uma regra horizontal.";
    pointer-events: none;
    user-select: none;
}

.hide {
    display: none;
}

.overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

.overlay {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 100%;
    width: max-content;
    padding: 10px;
    border: solid var(--white) 4px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title-container, .priority-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.title-edit {
    border: 4px solid var(--white);
    padding: 5px;
    flex-grow: 1;
}

.task-title {
    padding: 9px;
    flex-grow: 1;
}

.title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: stretch;
}

.close-edit {
    height: 39px;
    width: 39px;
    font-size: 20px;
    border: solid 4px var(--white);
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}